<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPageSingleMenu.master.cs" Inherits="DocViewer.MasterPageSingleMenu" %>

<%@ Register TagPrefix="telerik" Namespace="Telerik.Web.UI" Assembly="Telerik.Web.UI" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>MasterPageSingleMenu.Master</title>
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1, maximum-scale=1.0, user-scalable=no" />
    <link href="styles/base.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
        
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <telerik:RadScriptManager ID="DVM_RadScriptManager1" runat="server" EnableScriptCombine="True">
            <Scripts>
                <asp:ScriptReference Assembly="Telerik.Web.UI" Name="Telerik.Web.UI.Common.Core.js" />
                <asp:ScriptReference Assembly="Telerik.Web.UI" Name="Telerik.Web.UI.Common.jQuery.js" />
                <asp:ScriptReference Assembly="Telerik.Web.UI" Name="Telerik.Web.UI.Common.jQueryInclude.js" />
                <telerik:RadScriptReference Path="~/scripts/scripts.js" />
                <%--added this to turn on and off debug and provide a wrapper for log.debug....--%>
                <telerik:RadScriptReference Path="~/Content/js/toggle-debug.js" />

                <%--Font-Awesome--%>
                <%-- <telerik:RadScriptReference Path="~/Content/vendor/fa/js/fontawesome.min.js" />
            <telerik:RadScriptReference Path="~/Content/vendor/fa/js/solid.min.js" />--%>
            </Scripts>
        </telerik:RadScriptManager>
        <telerik:RadAjaxManager ID="DVM_RadAjaxManager1" runat="server"
                                DefaultLoadingPanelID="DVM_RadAjaxLoadingPanel1"
                                OnAjaxRequest="DVM_AjaxRequest">
        </telerik:RadAjaxManager>
        <telerik:RadPersistenceManager ID="DVM_RadPersistenceManager1" runat="server"
                                       OnSaveCustomSettings="DVMRPM1_SaveCustomSettings"
                                       OnLoadCustomSettings="DVMRPM1_LoadCustomSettings"
                                       OnLoadSettings="DVMRPM1_LoadSettings"
                                       OnSaveSettings="DVMRPM1_SaveSettings">
        </telerik:RadPersistenceManager>
        <asp:ContentPlaceHolder ID="CommonContentPlaceHolder1" runat="server">
            
        </asp:ContentPlaceHolder>

        <div id="wrapper">
            <a href="#" class="logo">
                <img src="images/logo.png" alt="site logo" />
            </a>
            <div class="header">
                <telerik:RadMenu ID="RadMenu1" CssClass="mainMenu" runat="server" RenderMode="Auto">
                    <Items>
                        <telerik:RadMenuItem Text="Home" NavigateUrl="Default.aspx" />
                        <telerik:RadMenuItem IsSeparator="true" />
                        <telerik:RadMenuItem Text="Grid Page" NavigateUrl="Grid.aspx" />
                        <telerik:RadMenuItem IsSeparator="true" />
                        <telerik:RadMenuItem Text="ListView Page" NavigateUrl="ListView.aspx" />
                        <telerik:RadMenuItem IsSeparator="true" />
                        <telerik:RadMenuItem Text="About" />
                        <telerik:RadMenuItem IsSeparator="true" />
                        <telerik:RadMenuItem Text="Projects" />
                        <telerik:RadMenuItem IsSeparator="true" />
                        <telerik:RadMenuItem Text="Dashboard" />
                        <telerik:RadMenuItem IsSeparator="true" />
                        <telerik:RadMenuItem Text="Viewer" NavigateUrl="DocViewerMain.aspx" />
                        <telerik:RadMenuItem IsSeparator="true" />
                        <telerik:RadMenuItem Text="..." />
                        <telerik:RadMenuItem IsSeparator="true" />
                        <telerik:RadMenuItem Text="Contacts" />
                    </Items>
                </telerik:RadMenu>
            </div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
            </asp:ContentPlaceHolder>
            <hr style="margin-top:40px" />
            <div class="footer">
                Footer:© 2002-2015 Company Inc, 201 Jones Rd, Waltham, MA 03451
            </div>
        </div>
    </form>
</body>
</html>
